
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Noto+Sans&display=swap');

:root {
    --font-noto: 'Noto Sans', sans-serif;
    --font-gloria: 'Gloria Hallelujah', cursive;
}

* {
    font-family: var(--font-noto);
    font-weight: 400;

}

header {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1440px;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    gap: 10px;
}
header ul {
    display: flex;
    
    align-items: center;
    gap: 40px;
}

header a {
    text-decoration: none;
    list-style: none;
    color: black;
}

li{
    list-style: none;
    
}

#accueil {
    color: red;
}
 h2 {
    font-family: var(--font-gloria);
    font-size: 45px;
 }

 h1{
    text-transform: uppercase;
    font-weight: 500;
    color: red;
 }
h3 {
    font-size: 28px;
    font-family: var(--font-gloria);
}

#section1{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    max-width: 1440px;
    margin-bottom: 50px;
}

#section1 article:nth-child(1){
    width: 50%;
}


#premiertableau a{
    color:black;
    border: solid 2px #fbbbcd;
    border-radius: 90%;
    text-decoration: none;
    border-radius: 10px;
    padding-inline: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 15%;
}
#section1 article div{
    align-items: center;
    display:inline-flex;
    gap: 10px;

}
hr{
    background-color: red;
    width: 20px;
    max-height: 1px;
}
#section1 {
    margin: 60px 0px 60px 0px;
}
#section1 img{
    width: 100%;
}



.tableau1{
    display: grid;
    grid-template-columns: 40% 60%;
}

#sectiongalerie{
    background-color:#fbbbcd;
    color: black;
    width: 70%;
    margin: auto;
    padding: 60px;
}
#sectionphoto{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap: 20px;
}
#sectionphoto img:nth-child(5){
    grid-column: 1/3;
}
#sectionphoto img:nth-child(6){
    grid-column: 3/5;
}
#sectionphoto img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
#petitesection {
    display: flex;
    align-items:center ;
    margin: auto;
    gap: 600px;

}
#petitesection a{
    color:black;
    border: solid 2px #fbbbcd;
    border-radius: 90%;
    text-decoration: none;
    border-radius: 10px;
    padding-inline: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 15%;
}

#sectionpeinture{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

#sectionpeinture article{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    
}

#sectionpeinture img {
    height: 300px;
}
  

 footer section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1440px;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    gap: 10px;

 }
 footer ul{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: stretch;
    align-items: center;
 }

 footer a {
    text-decoration: none;
    list-style: none;
    color: black;
 }